@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply font-brand h-[100dvh] w-[100dvw] flex flex-col gap-14 items-center justify-center snap-y snap-mandatory;
}

.wave-top {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./wave-top.svg");
}

.wave-bottom {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./wave-bottom.svg");
}
