@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply font-brand h-[100dvh] w-[100dvw] flex flex-col gap-14 items-center justify-center snap-y snap-mandatory;
}

.odd-child {
  @apply bg-neutral-950/75;
}
.even-child {
  @apply bg-neutral-950;
}

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./low-poly-grid.svg");
}

.white-svg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(132deg) brightness(103%) contrast(103%);
}
